{% extends 'admin.html.twig' %}

{% block content %}
    <div class="accordion col" id="accordionExample">
        {% include 'inc/flash.message.html.twig' %}
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn collapsed" type="button" style="width: 80%; text-align: left;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Exhibition comming up (collapse)
                    </button>
                    <a href="{{ url('admin.exhibition.form') }}" class="btn btn-primary" style="display: inline-block; float:right;">Ajouter</a>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                {% for exhibition in exhibitionCommingUp %}
                    {% include 'inc/exhibitionCard.html.twig' with {exhibition: exhibition} %}
                {% endfor %}
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn collapsed" type="button" style="width: 80%; text-align: left;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Passed exhibition
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                {% for exhibition in passedExhibitions %}
                    {% include 'inc/exhibitionCard.html.twig' with {exhibition: exhibition} %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}