{% extends 'parent.html.twig' %}

{% block content %}
    <div class="col">
        <h3>Exhibition</h3>
        {% for exhibition in exhibitions %}
            <div class="card" style="margin-bottom: 5px">
                <div class="card-header">
                    {{ exhibition.exhibitionDate | date('d/m/Y')}}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ exhibition.name }}</p>
                        <footer class="blockquote-footer">{{ exhibition.description }} </footer>
                    </blockquote>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}