{% extends 'parent.html.twig' %}

{% block content %}
    <div class="col">
        <h3>Exhibition</h3>
        {% for exhibition in exhibitions %}
            {% include 'inc/exhibitionCard.html.twig' with {exhibition: exhibition} %}
        {% endfor %}
    </div>
{% endblock %}