<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Tito Salgado
        {% endblock %}
    </title>
    {{ encore_entry_link_tags('app') }}
</head>
<body class="d-flex flex-column min-vh-100">

    {# Pour faire passer des données à l'objet #}
    {{ render(controller('App\\Controller\\NavBarController:navBar')) }}

    <div class="container flex-grow-1">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include 'inc/footer.html.twig' %}

    {{ encore_entry_script_tags('app') }}
</body>
</html>