<footer class="bg-secondary text-white" style="margin-top: 20px">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><a href="{{ url('homepage.index') }}" class="text-white">Accueil</a></h5>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><a href="#!" class="text-white">Oeuvres</a></h5>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> <a href="{{ url('exhibition.index') }}" class="text-white">Expositions</a></h5>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> <a href="{{ url('contact.form') }}" class="text-white">Contact</a></h5>
            </div>
            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> <a href="{{ url('legal.index') }}" class="text-white">Mentions légales</a></h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright</div>
</footer>