<footer class="bg-secondary text-white" style="margin-top: 20px">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><a href="#!" class="text-white">Very long link 1</a></h5>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><a href="#!" class="text-white">Link 4</a></h5>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> <a href="#!" class="text-white">Link 4</a></h5>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> <a href="#!" class="text-white">Link 4</a></h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright</div>
</footer>